*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#050505;
color:white;

}



/* HEADER */

header{

height:90px;
background:#090909;
border-bottom:1px solid #222;

display:flex;
align-items:center;
justify-content:space-between;

padding:15px 25px;

position:sticky;
top:0;
z-index:100;

}



.logo{

display:flex;
align-items:center;
gap:15px;

}


.logo-box{

width:60px;
height:60px;

background:#008f3d;

border-radius:20px;

display:flex;
align-items:center;
justify-content:center;

font-size:24px;
font-weight:bold;

}



.logo h2{

font-size:20px;
letter-spacing:1px;

}



.logo span{

color:#00a94f;
font-size:12px;
letter-spacing:5px;

}



.menu{

font-size:35px;
color:white;

}





/* HERO */


.hero{

height:650px;

background:
linear-gradient(
rgba(0,0,0,.5),
#050505
),
url("images/hero.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;

padding:40px 25px;

}



.hero-text{

max-width:500px;

}



.hero h1{

font-size:55px;
line-height:1.1;

}



.hero p{

font-size:22px;
color:#aaa;

margin:25px 0;

line-height:1.5;

}



.hero a{

background:#00a94f;

padding:15px 30px;

border-radius:30px;

color:white;

text-decoration:none;

font-weight:bold;

}





/* SECTION */


section{

padding:60px 25px;

}



.section-title{

font-size:45px;

margin-bottom:40px;

}





/* PRODUCTS */


.product-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}



.product-card{

background:#111;

border-radius:30px;

overflow:hidden;

border:1px solid #252525;

transition:.3s;

}



.product-card:hover{

transform:translateY(-10px);

}




.product-card img{

width:100%;

height:330px;

object-fit:cover;

}




.card-content{

padding:30px;

}



.card-content h2{

font-size:30px;

color:#00b84f;

margin-bottom:20px;

}



.card-content p{

color:#aaa;

font-size:20px;

line-height:1.5;

}



.card-content a{

display:block;

margin-top:25px;

color:#00b84f;

font-weight:bold;

}





/* ABOUT */


.about{

background:#0b0b0b;

border-radius:35px;

margin:25px;

}



.about h1{

font-size:40px;

margin-bottom:25px;

}



.about p{

font-size:22px;

color:#aaa;

line-height:1.7;

}






/* CONTACT */


.contact h1{

font-size:40px;

text-align:center;

}



.contact h1 span{

color:#00b84f;

}



.contact-box{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

margin-top:40px;

}



.contact-box div{

background:#111;

border:1px solid #222;

padding:25px;

border-radius:25px;

}



.contact-box h3{

margin:15px 0;

}



.contact-box p{

color:#999;

}






/* FORM */


.form{

background:#111;

padding:30px;

border-radius:30px;

margin-top:40px;

}



.form h2{

margin-bottom:25px;

}



input,
textarea{

width:100%;

background:#181818;

border:1px solid #333;

padding:15px;

border-radius:15px;

margin-bottom:15px;

color:white;

font-size:16px;

}



textarea{

height:120px;

}



button{

width:100%;

padding:15px;

border:0;

border-radius:30px;

background:#00a94f;

color:white;

font-size:18px;

font-weight:bold;

}





/* CEO */


.ceo{

text-align:center;

}



.ceo img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:4px solid #00a94f;

}



.ceo h2{

margin-top:20px;

}



.ceo p{

color:#aaa;

margin-top:10px;

}





/* FOOTER */


footer{

background:#090909;

padding:40px 25px;

border-top:1px solid #222;

}



footer h2{

color:#00b84f;

}



footer p{

color:#aaa;

margin:10px 0;

}



.links{

display:grid;

grid-template-columns:repeat(2,1fr);

margin-top:30px;

}




.copyright{

margin-top:40px;

font-size:13px;

}





/* WHATSAPP */


.whatsapp{

position:fixed;

right:25px;

bottom:25px;

width:65px;

height:65px;

border-radius:50%;

background:#00c853;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

color:white;

text-decoration:none;

}






/* MOBILE */


@media(max-width:600px){


.hero{

height:550px;

}



.hero h1{

font-size:40px;

}



.section-title{

font-size:38px;

}



.product-card img{

height:280px;

}



.logo h2{

font-size:16px;

}



.logo span{

font-size:10px;


  

}

/* Navbar */
.navbar{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo */
.logo img{
    width: 180px;      /* Change size as needed */
    height: auto;
    display: block;
}

/* Menu Icon */
.menu{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}




  
